
  :host {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .trader-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  