<h2>Edit Trader Details</h2>
<form #editForm="ngForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput type="text" name="firstName" placeholder="First Name" [(ngModel)]="trader.firstName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="lastName" placeholder="Last Name" [(ngModel)]="trader.lastName" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="email" name="email" placeholder="Email" [(ngModel)]="trader.email" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="date" name="dob" placeholder="Date of Birth" [(ngModel)]="trader.dob" required>
  </mat-form-field>
  <mat-form-field>
    <input matInput type="text" name="country" placeholder="Country" [(ngModel)]="trader.country" required>
  </mat-form-field>
  <div class="buttons">
    <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">Save</button>
    <button mat-raised-button color="warn" (click)="cancel()">Cancel</button>
  </div>
</form>
