.container {
    display: flex;
    height: 100vh;
}
  
.quotes {
    flex: 1;
}
  
table {
    align-items: center;
    width: 100%;
    border-collapse: collapse;
}
  

  
th,
td {
    padding: 10px;
    text-align: left;
}
  
th {
    background-color: #2e7fad;
    font-weight: bold;
    text-emphasis-color: white;
}
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e6e6e6;
  }
  
  .mat-header-cell,
  .mat-cell {
    padding: 10px;
  }
  
  .mat-header-cell {
    font-weight: bold;
  }
  
  .mat-column-ticker {
    width: 20%;
  }
  
  .mat-column-lastPrice {
    width: 15%;
  }
  
  .mat-column-bidPrice,
  .mat-column-bidSize,
  .mat-column-askPrice,
  .mat-column-askSize {
    width: 10%;
  }
  