.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.table-container {
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as per your preference */
  margin-top: 20px;
}

.mat-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20%;
  margin-left: 25%;
}

.mat-header-cell,
.mat-cell {
  padding: 8px 16px;
  color: black;
}

.mat-header-row {
  background-color: #f7f5f5;
  font-weight: bold;
}

.mat-row:nth-child(even) {
  background-color: #b3cde6;
}

.add-button {
  position: fixed;
  top: 20px;
  right: 20px;
}
