<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<button mat-raised-button color="primary" class="add-button" (click)="openTraderFormDialog()">Add Trader</button>
<div class="table-container">
  <table mat-table [dataSource]="traderList" class="mat-elevation-z8">
    <!-- Custom Column Names -->
    <ng-container [matColumnDef]="column" *ngFor="let column of getColumns()">
      <th mat-header-cell *matHeaderCellDef>{{ getColumnDisplayName(column) }}</th>
      <td mat-cell *matCellDef="let element">
        <!-- Display the trader property based on the column -->
        <ng-container [ngSwitch]="column">
          <ng-container *ngSwitchCase="'actions'">
            <!-- View account icon button -->
            <button mat-icon-button (click)="viewTraderAccount(element)" matTooltip="View Account">
              <mat-icon>info</mat-icon>
            </button>
            <!-- Edit action button -->
            <button mat-icon-button (click)="openEditTraderDialog(element)" matTooltip="Edit">
              <mat-icon>edit</mat-icon>
            </button>
            <!-- Delete action button -->
            <button mat-icon-button color="warn" (click)="deleteTrader(element.id)" matTooltip="Delete">
              <mat-icon>delete</mat-icon>
            </button>          
          </ng-container>
          <ng-container *ngSwitchDefault>
            {{ element[column] }}
          </ng-container>
        </ng-container>
      </td>
    </ng-container>
  
    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="getColumns()"></tr>
    <tr mat-row *matRowDef="let row; columns: getColumns()"></tr>
  </table>
</div>
